
    <mat-toolbar-row>
        <div>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary">Add Supplier</button>
    </mat-toolbar-row>

<div style="max-height:450px;overflow:auto;">
    <mat-table #table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="SupplierID">
            <mat-header-cell *matHeaderCellDef> SupplierID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.SupplierID}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="CompanyName">
            <mat-header-cell *matHeaderCellDef> CompanyName </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.CompanyName}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="ContactName">
            <mat-header-cell *matHeaderCellDef> ContactName </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ContactName}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Country">
            <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Country}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ActionButton">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">

                <button routerLink="/editSupplier/{{element.SupplierID}}" mat-icon-button color="primary">
                    <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                </button>
                <button  mat-icon-button color="warn">
                    <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
