<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Northwnd.Srv.Web.Api-20180117101231.mdf;Initial Catalog=aspnet-Northwnd.Srv.Web.Api-20180117101231;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>